wd-course-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 120px;
    margin: 0px;
    margin-left: 20px;
    border: none;
  }
  .wd-course-navigation a {
    font-size: 18px;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    color: rgb(221, 24, 24);
    text-decoration: none;
    margin-left: 20px;
  }
  .wd-course-navigation a.active {
    border-left: 2px solid black;
    background-color: white;
    color: black;
  }

.wd-course-navigation .list-group-item:first-child,
.wd-course-navigation .list-group-item:last-child,
.wd-course-navigation .list-group
 {
    border-radius: 0px;
}
