.wd-kanbas-navigation .wd-icon {
    font-size: 2em;
    color: rgb(221, 24, 24);
    padding-right: 5px;
}

.wd-kanbas-navigation a {
    font-size: 0.9em;
    text-align: center;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    border: none;
}

.wd-kanbas-navigation a.active {
    background-color: white;
    color: rgb(221, 24, 24);
}

.wd-kanbas-navigation .list-group-item:first-child,
.wd-kanbas-navigation .list-group-item:last-child,
.wd-kanbas-navigation .list-group
 {
    border-radius: 0px;
}

.wd-kanbas-navigation .block {
    background-color: black;
    height: 80px;
    text-align: center;
    padding-top: 10px;
}