.statusOptionList {
    font-size: 15px;
    text-decoration: none;
    color: rgb(208, 15, 15);
    text-align: center;
    font-weight: 400;
    height: 40px;
}

.list-group-item:first-child, .list-group-item:last-child{
    border-radius: 0px;
}

.statusEventList {
    font-size: 15px;
    text-decoration: none;
    color: rgb(208, 15, 15);
    text-align: center;
    font-weight: 400;
    height: 40px; 
}