.list-group-item 
{
    font-size: 25px;
}

.list-group-item:first-child, 
.list-group-item:last-child 
{
    border-radius: 0px;
}

.clearLink {
    text-decoration: none;
    color: white;
}

.clearLink2 {
    text-decoration: none;
    color: black;
}